@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

html{
    background-color: $offWhite;
    position: relative;
    outline: none;
    font-family: 'Poppins', sans-serif;

    user-select: none;                  //Prevent text selection of a <div> element
}


main{
    @include neu-shadow;
    margin-top: 5rem;
    background-color: $lessWhite;
    width: min(400px);
    border-radius: 1rem;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    input{
        
        border: none;
        padding: 3rem 0.5rem;
        margin: 50px 25px;
        width: 350px;
        height: 70px;
        text-align: right;

        background-color: $lessWhite;
        font-size: 60px;
        font-family: inherit;
        color: $grayish;

    }

    .keys{
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;

        padding: 15px;
        width: 100%;
        margin-bottom: 2rem;
    }

}

button{
    @include neu-shadow;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    background-color: $lessWhite;
    
    font-family: inherit;
    font-size: 25px;
    font-weight: 500;

    transition: background-color 0.5s;
    cursor: pointer;

        &:hover, &:active{
            background-color: $grayTransparent;
        }

        &:active{
            @include neu-shadow-inset;
            font-size: 20px;
        }

        &:nth-child(1){
            background-color: $blue;
            color: $white;
            

            &:hover, &:active{
                background-color: $lessWhite;
                color: $blue;
            }
        }
    
    

}

.num__key{
    color: $grayish;

    &:hover, &:active{
        color: $offBlack;
    }
}

.op__key{
    color: $blueish;


        &:hover, &:active{
            color: $white;
        }

}

.eq__key{
    border-radius: 20px;
    grid-column: 3/ span 2;
    color: $blue;

        &:hover, &:active{
            color: $white;
        }
}


